body{
    background-color: white;
    padding-top: 60px;
}

.navbar-a{
    color:whitesmoke !important;
}

.navbar{
    background: black;
}


.editor-nav .nav-item .nav-link{
    color: whitesmoke !important;
}

.course-editor-nav .nav-item{
    margin-right: 7px;
    padding-left: 7px;
    padding-right: 7px;
}



.module-list{
    background: lightgrey;
}


.topic-list{
    background-color: lightgrey;
    padding:30px;
}



.module-list .nav-link{
    background-color: darkgrey;
    color:whitesmoke;
}


.widget-name{
    font-weight: bold;
    font-size:22px;
}

.topic-list .nav-link{
    background-color: rgba(0,0,0,.18);
    color: black;
}

.heading-widget{
    border:2px solid gray;
    border-radius: 10px;
    padding:10px;
    margin:1px;
}





