body{
    background-color: white;
    padding-top: 60px;
}

.navbar-brand{
    color:whitesmoke !important;
}

.navbar{
    background: black;
}

.close-editor{
    font-size: 30px;
    color: whitesmoke;
}

.course-editor-nav .nav-item .nav-link{
    color: lightblue !important;
}

.course-editor-nav .nav-item{
    margin-right: 7px;
    padding-left: 7px;
    padding-right: 7px;
}



.module-list{
    background: lightgrey;
}


.topic-list{
    background-color: lightgrey;
    padding:30px;
}

.module-list-pill{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left:5px;
}

.module-list-pill .nav-link{
    background-color: darkgrey;
    color:whitesmoke;
}



.topic-pill-list .nav-link{
    background-color: rgba(0,0,0,.18);
    color: black;
}

.heading-widget{
    border:1px solid gray;
    border-radius: 10px;
    padding:10px;
    margin:1px;
}

.widget-name{
    font-weight: bold;
    font-size:22px;
}



